@using Festofilas.Models.MainViewModels;
@using Festofilas.Data.Model;
@using Festofilas.Controllers;
@model Festofilas.Models.MainViewModels.FestivalViewModel
@{
    ViewData["Title"] = Model.Name;
    Layout = "_Layout";
    Context.Response.Headers["Content-Type"] = "charset=utf-8";
}

<h2>@Model.Name</h2>
<div class="row">
    <div class="col-md-3">
        <img class="img-responsive"
             src='@Model.DisplayImage' style="max-width: 350px; max-height: 350px"/>
    </div>
    <div class="col-md-7">
        <div class="h4">Tipas: @Model.Genre</div>
        <div class="h4">Data: @Model.Date.ToString("D")</div>
        <p>@Model.Summary</p>
        <div class="h4">
            Festivalio svetainė: <a href="http://@Model.Webpage">@Model.Webpage</a>
            <br />
            Festivalio facebook'as: <img onclick="window.open('http://@Model.Facebook')" src="../../images/fb.png" style="width: 25px; height: 25px"/>
        </div>
        <div class="col-md-6">
            <div class="h4">
                Kainos: @Model.LowestPrice € - @Model.HighestPrice €. <a href="http://@Model.TicketWebsite">Bilietai</a>
            </div>
            <div class="h4">Adresas: @Model.PlainTextAddress</div>
            <div class="h3">Organizatoriaus kontaktai</div>
            <ul class="list-unstyled">
                @if (!string.IsNullOrEmpty(Model.FirstName))
                {
                    <li >Vardas: @Model.FirstName</li>
                }
                @if (!string.IsNullOrEmpty(Model.LastName))
                {
                    <li >Pavardė: @Model.LastName</li>
                }
                @if (!string.IsNullOrEmpty(Model.Email))
                {
                    <li >E-mail: @Model.Email</li>
                }
                @if (!string.IsNullOrEmpty(Model.PhoneNumber))
                {
                    <li >Telefonas: @Model.PhoneNumber</li>
                }

            </ul>
        </div>
        <div class="col-md-6">


            <div id="map" style="width: 200px; height: 200px; max-width: 100%; max-height: 100%;"></div>
        </div>
        
        <div class="col-md-8">
            <div style="display:inline-block">
                <span style="font-size:20px;margin-right:11px" class="rtng" aria-hidden="true">@Model.Rate</span>
                <fieldset class="rating" style="height: 24px;">
                    <input type="radio" id="star5" name="rating" value="5" onclick="window.location = '@Url.Action("UpdateRating", "Home", new {id = Model.Id, vote = 5})';"/><label class="full" for="star5" title="Excellent - 5 stars"></label>
                    <input type="radio" id="star4half" name="rating" value="4.5" onclick="window.location = '@Url.Action("UpdateRating", "Home", new {id = Model.Id, vote = 4.5})';"/><label class="half" for="star4half" title="Awesome - 4.5 stars"></label>
                    <input type="radio" id="star4" name="rating" value="4" onclick="window.location = '@Url.Action("UpdateRating", "Home", new {id = Model.Id, vote = 4})';"/><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                    <input type="radio" id="star3half" name="rating" value="3.5" onclick="window.location = '@Url.Action("UpdateRating", "Home", new {id = Model.Id, vote = 3.5})';"/><label class="half" for="star3half" title="Good - 3.5 stars"></label>
                    <input type="radio" id="star3" name="rating" value="3" onclick="window.location = '@Url.Action("UpdateRating", "Home", new {id = Model.Id, vote = 3})';"/><label class="full" for="star3" title="Above average - 3 stars"></label>
                    <input type="radio" id="star2half" name="rating" value="2.5" onclick="window.location = '@Url.Action("UpdateRating", "Home", new {id = Model.Id, vote = 2.5})';"/><label class="half" for="star2half" title="Average - 2.5 stars"></label>
                    <input type="radio" id="star2" name="rating" value="2" onclick="window.location = '@Url.Action("UpdateRating", "Home", new {id = Model.Id, vote = 2})';"/><label class="full" for="star2" title="Below average - 2 stars"></label>
                    <input type="radio" id="star1half" name="rating" value="1.5" onclick="window.location = '@Url.Action("UpdateRating", "Home", new {id = Model.Id, vote = 1.5})';"/><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                    <input type="radio" id="star1" name="rating" value="1" onclick="window.location = '@Url.Action("UpdateRating", "Home", new {id = Model.Id, vote = 1})';"/><label class="full" for="star1" title="Bad - 1 star"></label>
                    <input type="radio" id="starhalf" name="rating" value="0.5" onclick="window.location = '@Url.Action("UpdateRating", "Home", new {id = Model.Id, vote = 0.5})';"/><label class="half" for="starhalf" title="Very Bad - 0.5 stars"></label>
                </fieldset>
                <div style="display:inline;font-size:15px;margin-left:11px">
                    <span class="_Mnc _yz" style="white-space:nowrap">@Model.NumberOfVotes atsiliepimai</span>
                </div>
            </div>
            
        </div>
            <script>
                function myMap() {
                    getWidget();
                    var mapCanvas = document.getElementById("map");
                    var mapOptions = {
                        center: new google.maps.LatLng({ lat: @Model.Longitude, lng: @Model.Latitude }),
                        zoom: 13,
                        disableDefaultUI: true

                    }
                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng({ lat: @Model.Longitude, lng: @Model.Latitude })
                    });
                    var map = new google.maps.Map(mapCanvas, mapOptions);
                    map.setClickableIcons(false);
                    marker.setMap(map);
                }
            </script>
</div>
    <div class="col-md-1">


        <!-- weather widget start --><a><img id="widget" src="" alt="booked.net" /></a><!-- weather widget end -->

    </div>
    <script>
        function getWidget() {
            var widget = document.getElementById("widget");
            widget.src = "https://w.bookcdn.com/weather/picture/32_" + "@Model.WidgetCode" + "_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=w209&anc_id=93227";
            if (@Model.Rate > 4.75){
                var star = document.getElementById("star5");
                star.checked = true;
            }
            else if (@Model.Rate > 4.25){
                var star = document.getElementById("star4half");
                star.checked = true;
            }
            else if (@Model.Rate > 3.75){
                var star = document.getElementById("star4");
                star.checked = true;
            }
            else if (@Model.Rate > 3.25){
                var star = document.getElementById("star3half");
                star.checked = true;
            }
            else if (@Model.Rate > 2.75){
                var star = document.getElementById("star3");
                star.checked = true;
            }
            else if (@Model.Rate > 2.25){
                var star = document.getElementById("star2half");
                star.checked = true;
            }
            else if (@Model.Rate > 1.75){
                var star = document.getElementById("star2");
                star.checked = true;
            }
            else if (@Model.Rate > 1.25){
                var star = document.getElementById("star1half");
                star.checked = true;
            }
            else if (@Model.Rate > 0.75){
                var star = document.getElementById("star1");
                star.checked = true;
            }
            else if (@Model.Rate > 0.25){
                var star = document.getElementById("starhalf");
                star.checked = true;
            }
        }
    </script>
</div>

    
@if (User.Identity.IsAuthenticated)
{
    <button class="btn btn-default" onclick="window.location ='@Url.Action("EditFestival", "Home", new {id = Model.Id})'; ">Keisti festivalį</button>
}
@if (User.Identity.IsAuthenticated)
{
    <button class="btn btn-default" onclick="window.location ='@Url.Action("SubscribeFestival", "Home", new {festivalId = Model.Id, userId = User.Identity.Name})'; ">Prenumeruoti festivalį</button>
}


<div>
    
    @await Component.InvokeAsync("Comment", new {articleId = Model.Id, isFestival = true, from = 0, to = 5})

    @if (User.Identity.IsAuthenticated)
    {
        @await Component.InvokeAsync("CommentPost", new {comment = new CommentPostModel() {ArticleId = Model.Id, IsFestival = true}})
    }
    <a asp-action="About">Atgal</a>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8rHv1UfQ3MG9Abx9XKtMYv4rmuIIb7yg&callback=myMap"></script>